# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# testing
/coverage

# production
build/
dist/
**/build/
**/dist/
.vercel

# backend specific
backend/database.sqlite
backend/uploads/

# misc
.DS_Store
.env*
!.env.example
*.log*
.env*.local
